{% extends 'layout/base.html' %}

{% load bootstrap4 %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    {% if user.is_authenticated %}
        <p>You already entered</p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            <input type="hidden" name="text" value="{{ next }}">
            {% buttons submit='Enter' %}{% endbuttons %}
        </form>
        <a href="{% url 'main:reset_password' %}">Forgot password?</a>
    {% endif %}
{% endblock %}