{% extends 'layout/base.html' %}

{% load bootstrap4 %}

{% block title %}
    {{ user.first_name }} {{ user.last_name }} realtor statistics
{% endblock %}

{% block content %}
    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col"></div>
                <form class="col-md-auto form-inline" method="get">
                    {% bootstrap_form form show_label=False %}
                    {% bootstrap_button content="Search" button_type='submit'%}
                </form>
        </div>
        {% if leads_closed_successfully %}<h2>leads closed successfully -- {{ leads_closed_successfully }}</h2>{% endif %}
        {% if leads_closed_unsuccessfully %}<h2>leads closed unsuccessfully -- {{ leads_closed_unsuccessfully }}</h2>{% endif %}
        {% if leads_in_progress %}<h2>leads in progress -- {{ leads_in_progress }}</h2>{% endif %}
        {% if company_income %}<h2>company income -- {{ company_income }}</h2>{% endif %}
        {% if leads_closed_successfully_avg %}<h2>leads closed successfully average -- {{ leads_closed_unsuccessfully }}</h2>{% endif %}
        {% if leads_closed_unsuccessfully_avg %}<h2>leads closed unsuccessfully average -- {{ leads_closed_unsuccessfully_avg }}</h2>{% endif %}
        {% if company_income_avg %}<h2>company income average -- {{ company_income_avg }}</h2>{% endif %}
    </div>
{% endblock %}