{% extends 'layout/base.html' %}
{% load bootstrap4 %}

{% block title %}Statuses{% endblock %}

{% block content %}
    <h2><a href="{% url 'head_manager_panel:status-create' %}">Create status</a></h2>
    <ul>
        {% for status in statuses %}
            <li class="media my-5 p-3">
                <div class="media-body">
                    <h3>{{ status.name }}</h3>
                    <p class="text-right mt-2">
                        <a href="{% url 'head_manager_panel:status-delete' pk=status.pk %}">Delete status</a>
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}